@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Muli",sans-serif;
    display:flex;
    height:90vh;
    justify-content: center;
    align-items: center;
    margin:0;
    background-color: #f6f7fb;
    overflow: hidden;
}
.container{
    text-align: center;
}
.progress-container{
    width:40vw;
    display: flex;
    justify-content: space-between;  
    margin:50px;
    position: relative;
}
.progress-container::before{
    content: "";
    background-color: #e0e0e0;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height:4px;
    width: 100%;
    z-index: -1;
}
.progress{
    background-color: #3498db;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height:4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    background-color:#fff;
    padding:10px 15px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border:3px solid #e0e0e0;
    transition: 0.4s ease;
}
.circle.active{
    border:3px solid #3498db;
}
.btn{
    background-color: #3498db;
    padding:10px;
    border:0;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
    padding:15px;
    margin:10px;
    font-size:16px;
}
.btn:hover{
    transform: scale(1.2);
    transition:transform 0.5s ease;
}
.btn:focus{
    outline: none;
}
.btn:disabled{
    background-color:#e0e0e0;
    cursor: not-allowed;
    transform: scale(1);
    transition:transform 0.5s ease;
}
